<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="color-scheme" content="light dark">
    <title>List of users</title>
</head>
<body>

<a href="{% url 'home' %}">SKILLZONE</a>
<h1>users page</h1>
<h2>list of users</h2>
<a href="create">create user</a>
</br>
{% if profiles %}
    <ul>
        {% for profile in profiles %}
            <li><a href={{ profile.user.username }}>{{ profile.user.username }}</a>  points : {{profile.points}}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No users found.</p>
{% endif %}
</body>
</html>